---
import Section from "../Section.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import { basics } from "@cv";
const { summary } = basics;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("about.title")}>
  <p>
    {summary}
  </p>
</Section>
