---
import type { CV } from "@/types";
import Section from "../Section.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const cv = Astro.props.cv as CV;

const { summary } = cv.basics;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("about.title")}>
  <p>
    {summary}
  </p>
</Section>
