---
import Section from "../Section.astro";
import HTML from "@/icons/Html.astro";
import CSS from "@/icons/Css.astro";
import JavaScript from "@/icons/Javascript.astro";
import TypeScript from "@/icons/Typescript.astro";
import React from "@/icons/React.astro";
import Node from "@/icons/Node.astro";
import MySQL from "@/icons/Mysql.astro";
import Git from "@/icons/Git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/Tailwind.astro";
import Next from "@/icons/Next.astro";
import Swift from "@/icons/Swift.astro";
import SwiftUI from "@/icons/Swiftui.astro";
import Kotlin from "@/icons/Kotlin.astro";
import Flutter from "@/icons/Flutter.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { CV } from "@/types";
import Angular from "@/icons/Angular.astro";
import AWS from "@/icons/AWS.astro";
import Azure from "@/icons/Azure.astro";
import Vue from "@/icons/Vue.astro";
import MongoDB from "@/icons/MongoDB.astro";

const cv = Astro.props.cv as CV;
const { skills } = cv;

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  MongoDB,
  Git,
  GitHub,
  Next,
  Tailwind,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Angular,
  Vue,
  AWS,
  Azure,
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("skills.title")}>
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
