---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <main>
    <h1>Esta página no existe...</h1>
    <img
      src="https://media1.tenor.com/m/MYZgsN2TDJAAAAAC/this-is.gif"
      alt="404 not found"
    />
  </main>
</Layout>

<style>
  body {
    height: 100vh;
    align-content: center;
  }

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 24px;
  }
</style>
